.container{
    margin-left: 25rem;
    margin-right: 25rem;
    padding-left: 12rem;
    padding-right: 12rem;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

}
.container h2{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    clear: both;
    color: #3C3C3C;
}
.container h3{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    clear: both;
    color: #3C3C3C;
}
.container p{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    color: #000000 40%;
}